// Помощники
@import 'utils/parameters';// переменные
//@import 'utils/mixins';//миксины scss

//Общее
@import 'main/stylesheet.css';// шрифты
@import 'main/reset'; // сброс стилей для кроссбраузерности
//@import 'main/common'; // общие стили

// дальше можно писать все стили сайта в этот файл, или писать их в компонентах

.container {
    max-width: 1200px;
    margin: 0 auto;
    //padding: 0 15px;
}

html {
    position: relative;
    font-family: Roboto, Raleway;
    font-style: normal;
    font-weight: normal;
}

 * {
    box-sizing: border-box;
}

button {
    border: 0;
    background-color: #43806C;
    padding: 10px 15px;
    color: white;
    border-radius: 6px;
}

a {
    text-decoration: none;
    color: inherit;
}

@import 'components/header';
@import 'components/sectione1';
@import 'components/sectione2';
@import 'components/sectione3';
@import 'components/section4';