@import "../utils/parameters";
@import "../utils/mixins";

.four {
    position: relative;

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 120px;
        margin-bottom: 60px;
    }

    &__row_no {
        flex: 1 0 50%;
        max-width: 50%;
        padding-right: 80px;
    }

    h3 {
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 154%;
        letter-spacing: 0.05px;
        text-transform: uppercase;
        color: #43806C;
    }

    h2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 128%;
        color: #214E41;
        margin: 20px 0px 35px 0px;
    }

    p {
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 167%;
        letter-spacing: 0.02px;
        color: #757575;
    }

} 