.header 
    .container 
        .header__row 
            .header__row_logo
                img(src="./assets/imgs/logo.png", alt="#")
            nav.nav
                ul 
                    li 
                        a(href="#") Our Plan
                    li 
                        a(href="#") Employers
                    li 
                        a(href="#") Brokers
                    li 
                        a(href="#") Members
                    li 
                        a(href="#") About
                    li 
                        a(href="#") Blog
                    
            .header__row_button
                button Request a Demo  