section.third 
    .container
        .third__row 
            .third__row_items
                h3 brella brings 
                ul 
                    <li style="color: #214E41"> <b>Customizable benefits</b></li> 
                    li Paperless install & admin
                    li Effortless enrollment
                    li Easy claims experience
                    li Fast benefit payouts
                    li Concierge support 
            .third__row_items
                p.every Every Brella plan comes with a benefit for Moderate, Severe, and Catastrophic conditions. Employees can select the payout amounts that fit their needs and their budget. 
                p Employers can fund part or all of the premiums—or offer Brella as a voluntary benefit. The choice is up to you.