section.second     
    .container 
        .second__row 
            .second__row_items
                //-.second__row_items_text
                h3 Why Brella? 
                h2 Today, any health insurance deductible can feel like a high deductible.
                p Brella's supplemental health plan enhances your health benefit strategy to ensure that health hardships don't become financial burdens.
                a See our plan
                    hr
            .second__row_items
                img(src="./assets/imgs/graff.png", alt="#")