sectione.one
    .one__background
        img(src="./assets/imgs/back.png", alt="#")    
    .container
        .one__give 
            h1 Give your team peace of mind with supplemental health insurance from Brella.
            p I'm wondering...
        .one__row 
            .one__row_items
                .one__row_items_img
                    img(src="./assets/imgs/zont.png", alt="#")
                .one__row_items_text 
                    h2 More coverage
                    p Brella covers 13,000+ injuries and illnesses from concussions to cancer.
            .one__row_items
                .one__row_items_img
                    img(src="./assets/imgs/ok.png", alt="#")
                .one__row_items_text 
                    h2 Less hassle
                    p  One easy-to-manage plan with paperless install and online admin tools.
            .one__row_items
                .one__row_items_img
                    img(src="./assets/imgs/bag.png", alt="#")
                .one__row_items_text 
                    h2 Faster benefits
                    p  Brella pays claims in hours–not weeks so your people can rest easy. 

