section.four    
    .container  
        .four__row  
            .four__row_no 
                h3 one plan, more coverage 
                h2 No one can predict which health issues might come their way. 
                p Our broad supplemental coverage gets rid of the guesswork and puts cash in your team’s pockets for most conditions that require urgent medical attention.
            .four__row_no 
                img(src="./assets/imgs/no.png", alt="#")
        .four__row_num  
            .four__row_num_items 
                h4 5K 
                p covered injuries and illnesses from fractures and appendicitis to cancer
            .four__row_num_items
                h4 1X
                p more covered conditions than Accident and Critical Illness plans—combined
            .four__row_num_items
                h4 40%
                p plans are 100% guaranteed issue. No medical underwriting required
            .four__row_num_items
                h4 0
                p  Zero limitations or exclusions for pre-existing conditions   
